.search-input {
  width: 280px;
  height: 32px;
  background: rgba(84, 181, 255, 0.1);
  border: 1px solid rgba(84, 181, 255, 0.8);
  border-radius: 2px;
}
.table-filter {
  .el-tree-node__expand-icon{
    display: none;
  }
}
